@use "../util/" as *;

.footer {
  background-color: $oscuro;
  color: $blanco;
  gap: 25px;
  padding: 50px 30px;

  &__identity {
    gap: 10px;

    img {
      width: 75%;
    }
  }

  &__navigation {
    gap: 25px;

    li a {
      color: $blanco;
    }
  }

  &__ssnn {
    gap: 20px;
    justify-self: flex-end;

    img {
      width: 25px;
      filter: brightness(0) invert(1);
    }
  }
}
