@use "../util/" as *;

.servicios {
  gap: 50px;

  &__items {
    display : grid;
    grid-template-columns: 1fr;
    gap: 80px;

    @include breakpoint (medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.servicio {
  gap: 25px;

  img {
    width: 70%;
  }

  @include breakpoint (medium) {
    gap: 35px;
  }
}