@use "../util/" as *;

.soluciones {
  gap: 50px;

  &__item {
    gap: 35px;

    img {
      width: 50%;
    }

    @include breakpoint (medium) {
      width: 45%;
    }
  }

  @include breakpoint (medium) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 80px;
  }
}

.solucion {
  gap: 25px;

  &__list {
    gap: 20px;

    li {
      font-size: 18px;
    }
  }
}

