@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #323232;
  display: grid;
  gap: 65px;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 85px auto 1fr auto;
}
@media (min-width: 768px) {
  body {
    grid-template-rows: auto auto 1fr auto;
  }
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.flex, .flex--center, main, .container, .flex__col, .header, .header--index {
  display: flex;
}
.flex__col, main, .header, .header--index, .container {
  flex-direction: column;
}
.flex--center, main, .container {
  align-items: center;
  justify-content: center;
}

a, a:visited {
  text-decoration: none;
  color: #323232;
  cursor: pointer;
}

.center-text, .container, .button {
  text-align: center;
}

.button {
  background-color: #1b1a1a;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 16px;
}

.font-base, .important-text, p, .h_base, h3, h1, h2 {
  font-style: normal;
}

.h_base, h3, h1, h2 {
  font-family: orpheus, serif;
  font-weight: 400;
}

h1, h2 {
  font-size: 42px;
  line-height: 110%;
}
@media (min-width: 768px) {
  h1, h2 {
    font-size: 72px;
  }
}

h3 {
  font-size: 24px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 36px;
  }
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

.circle-image {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
}

.container {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 8%;
  }
}

.header, .header--index {
  gap: 35px;
  padding: 100px 30px 60px 30px;
  margin-top: -138px;
  background-position: center center;
  background-size: cover;
  justify-content: center;
}
.header p, .header--index p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1.2px;
}
@media (min-width: 768px) {
  .header p, .header--index p {
    font-size: 24px;
    line-height: 1.2;
  }
}
@media (min-width: 768px) {
  .header, .header--index {
    margin-top: -160px;
    padding: 200px 50px 120px 50px;
  }
}

main {
  gap: 80px;
}

.important-text {
  font-weight: 700;
  font-size: 18px;
}

.about {
  gap: 60px;
}
.about__item {
  gap: 25px;
}
.about__item img {
  width: 70%;
}
@media (min-width: 768px) {
  .about__item img {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .about__item {
    width: 45%;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .about {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer {
  background-color: #1b1a1a;
  color: white;
  gap: 25px;
  padding: 50px 30px;
}
.footer__identity {
  gap: 10px;
}
.footer__identity img {
  width: 75%;
}
.footer__navigation {
  gap: 25px;
}
.footer__navigation li a {
  color: white;
}
.footer__ssnn {
  gap: 20px;
  justify-self: flex-end;
}
.footer__ssnn img {
  width: 25px;
  filter: brightness(0) invert(1);
}

.header--index {
  background-image: url("../../assets/index-header.jpg");
}

.navBar {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}
.navBar--active {
  background-color: white;
}
.navBar a {
  z-index: 1;
}
.navBar__logo {
  width: 100%;
}
@media (min-width: 768px) {
  .navBar__logo {
    width: 75%;
    padding-left: 12.5%;
  }
}
.navBar__menu {
  display: none;
}
.navBar__menu--active {
  display: flex;
  gap: 40px;
  width: 100%;
  padding: 30px 0;
  background-color: white;
  position: absolute;
  top: 82px;
  left: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .navBar__menu--active {
    top: 145px;
  }
}
@media (min-width: 768px) {
  .navBar__menu a {
    font-size: 24px;
  }
}
.navBar__navigation {
  font-size: 20px;
  gap: 40px;
}
.navBar__ssnn {
  gap: 30px;
}
.navBar__ssnn--icon {
  width: 30px;
}
.navBar__button {
  color: white;
}
.navBar__cart {
  gap: 5px;
}
.navBar__cart img {
  width: 20px;
  aspect-ratio: 1;
  object-fit: contain;
}
@media (min-width: 768px) {
  .navBar__cart img {
    width: 50px;
  }
}
@media (min-width: 768px) {
  .navBar {
    gap: 50px;
  }
}

.opinions {
  background: url("../../assets/comments-background.jpg");
  background-position: center center;
  background-size: cover;
}
.opinions--background-opacity {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 0;
  gap: 30px;
  padding: 50px 30px;
}

.angle {
  display: none;
  width: 40px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.angle--left {
  left: 15px;
}
.angle--right {
  right: 15px;
}
@media (min-width: 768px) {
  .angle {
    display: block;
  }
}

.servicios {
  gap: 50px;
}
.servicios__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
}
@media (min-width: 768px) {
  .servicios__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.servicio {
  gap: 25px;
}
.servicio img {
  width: 70%;
}
@media (min-width: 768px) {
  .servicio {
    gap: 35px;
  }
}

/* Soluciones */
.header--soluciones {
  padding: 250px 50px 0px 50px;
  align-items: center;
}

.soluciones {
  display: grid;
  grid-template-columns: 1fr;
  padding: 100px 30px;
  gap: 50px;
}

.soluciones__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.soluciones__item img {
  width: 75%;
}

.solucion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.solucion__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.solucion__list li {
  font-size: 18px;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 50px 150px 50px;
  gap: 50px;
}

.gallery img {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 50px;
  gap: 50px;
}

.informacion {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.informacion__ssnn {
  display: flex;
  gap: 20px;
}

.informacion img {
  width: 30px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-contact fieldset {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-contact label {
  font-size: 18px;
}

.maps {
  width: 100%;
}

.header--tienda {
  background: url("./assets/background.jpg");
  background-position: center center;
  background-size: cover;
  height: 40vh;
}

.header--tienda h1 {
  text-align: center;
}

.tienda__categories {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 35px;
  border-bottom: 1px solid black;
}

.tienda__products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.product h3 {
  font-weight: 500;
}

.product img {
  width: 80%;
}

.hamburger {
  position: relative;
  width: 40px;
  z-index: 1;
}
.hamburger::after, .hamburger::before, .hamburger span {
  background: #1b1a1a;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .hamburger::after, .hamburger::before, .hamburger span {
    height: 5px;
  }
}

.transform_active::before {
  transform: translateY(10px) rotate(135deg);
}
.transform_active::after {
  transform: translateY(-10px) rotate(-135deg);
}
.transform_active span {
  transform: scale(0);
}
@media (min-width: 768px) {
  .transform_active {
    width: 50px;
  }
}

/* Versión para desktop */
@media (min-width: 768px) {
  .tienda {
    margin: 150px 5% 0 5%;
    border-top: 1px solid black;
    padding: 100px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
  }
  .tienda__categories {
    border: none;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
  }
  .tienda__products {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .product {
    gap: 30px;
    align-items: center;
  }
  .product img {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .navBar__logo {
    width: 250px;
  }
  .hamburger {
    display: none;
  }
  .navBar {
    grid-template-columns: auto 1fr auto;
    padding: 30px 50px;
  }
  .navBar__menu {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
  }
  .navBar__navigation {
    flex-direction: row;
  }
  .navBar__navigation a {
    font-size: 18px;
  }
  header {
    height: 85vh;
  }
  header > * {
    max-width: 75%;
  }
  .tienda__products {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }
  .servicios__items {
    grid-template-columns: repeat(4, 1fr);
  }
  .container--about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }
  .about {
    width: auto;
  }
  footer.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
