.header--tienda {
  background: url('./assets/background.jpg');
  background-position: center center;
  background-size: cover;
  height: 40vh;
}

.header--tienda h1 {
  text-align: center;
}

.tienda__categories {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 35px;
  border-bottom: 1px solid black;
}

.tienda__products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.product h3{
  font-weight: 500;
}

.product img {
  width: 80%;
}