@use "util" as *;
@use "globals";
@use "componentes";


/* Versión para desktop */
@include breakpoint (medium) {

  .servicios__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .servicio {
    gap: 35px;
  }

  .angle {
    display: block;
  }

  .container--about {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about {
    width: 45%;
    gap: 30px;
  }

  .about img {
    width: 50%;
  }

  .tienda {
    margin: 150px 5% 0 5%;
    border-top: 1px solid black;
    padding: 100px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
  }

  .tienda__categories {
    border: none;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
  }

  .tienda__products {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .product {
    gap: 30px;
    align-items: center;
  }

  .product img {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .navBar__logo {
    width: 250px;
  }

  .hamburger {
    display: none;
  }

  .navBar {
    grid-template-columns: auto 1fr auto;
    padding: 30px 50px;
  }

  .navBar__menu {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
  }

  .navBar__navigation {
    flex-direction: row;
  }

  .navBar__navigation a{
    font-size: 18px;
  }

  header {
    height: 85vh;
  }

  header>* {
    max-width: 75%;
  }
  
  .tienda__products {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }

  .servicios__items {
    grid-template-columns: repeat(4, 1fr);
  }

  .container--about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }

  .about {
    width: auto;
  }

  footer.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}